#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias g="git"
alias h="history"
alias j="jobs"
alias v="vim"
alias o="open"
alias oo="open ."

# Drupal
alias d7=cd_drupal_7_site
alias de=drush_download_enable
alias sdb=sync_drupal_database
alias sf=sync_drupal_files
alias en=drush_download_enable
alias dis=drush_disable_uninstall
alias ns=new_multisite

# Drush
alias wipe="drush wipe"
