# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

# Go to Drupal root
function cd_drupal_7_site() {
  cd $DRUPAL_ROOT/sites/$1
}

# Drush download and enable project
function drush_download_enable() {
  drush dl $1 && drush en $1 -y
}
