[user]
  name = Willem Bressers
  email = info@willembressers.nl
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,indent-with-non-tab,trailing-space
  autocrlf = input
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[merge]
  log = true
[push]
  default = matching
